[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drift = {git = "https://github.com/dgnorth/drift.git", ref = "develop", extras = ["aws"]}
driftconfig = {git = "https://github.com/dgnorth/drift-config.git", ref = "develop"}
driftbase = {git = "https://github.com/dgnorth/drift-base.git", ref = "develop"}
gevent = "*"
requests = "*"
pyopenssl = "*"
raven = {extras = ["flask"]}
flask = "*"
flask-wtf = "*"
flask-login = "*"
flask-Menu = "*"
flask-cors = "*"
psycopg2 = "*"
flask_gravatar = "*"
boto = "*"

[dev-packages]
pytest = "*"
responses = "*"
mock = "*"
fabric = "*"

[requires]
python_version = "3"
