{% extends "layout.html" %}
{% set active_page = 'players' %}
{% import "macros.html" as macros %}

{%block content%}

<h2><i class="fa fa-users"></i> Players</h2>
<div class="container" style="padding-bottom:10px;">
<form method="get" class="form-inline">
    <input type="text" class="form-control" id="player_id" name="player_id" placeholder="Player ID" value="{{request.args.get('player_id') or ''}}">
    <input type="text" class="form-control" id="player_name" name="player_name" placeholder="Player Name" value="{{request.args.get('player_name') or ''}}">

    {{macros.order_by_combo(['logon_date', 'player_name', 'num_logons'])}}
    &nbsp;
  <button type="submit" class="btn btn-primary">Filter</button>
</form>
</div>

<ul class="pagination justify-content-end pagination-sm"></ul>

<table class="table table-striped table-hover">
<thead>
<tr>
    <th>ID</th>
    <th>Player Name</th>
    <th>Created</th>
    <th>Last Logon</th>
    <th>Logons</th>
</tr>
</thead>
<tbody>
{% for player in players %}
<tr>
    <td><a href="{{url_for('players.player', player_id=player.player_id)}}">{{player.player_id}}</a></td>
    <td><a href="{{url_for('players.player', player_id=player.player_id)}}">{{player.player_name}}</a></td>
    {%if player.is_online%}
        <div class="float-right" title="User is online">
            <i class="fa fa-user" style="color:green"></i>
        </div>
    {%endif%}
    </td>
    <td>{{player.create_date | dt}}</td>
    <td>{{player.logon_date | dt}}</td>
    <td>{{player.num_logons}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<ul class="pagination justify-content-end pagination-sm"></ul>

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    pagination({{curr_page}}, {{num_pages}})
});
</script>

{% endblock %}