{% extends "layout.html" %}
{% set active_page = 'users' %}
{% import "macros.html" as macros %}

{%block content%}

<h2><i class="fa fa-user"></i> Users</h2>
<div class="container" style="padding-bottom:10px;">
<form method="get" class="form-inline">
    <input type="text" class="form-control" id="user_id" name="user_id" placeholder="User ID" value="{{request.args.get('user_id') or ''}}">
    <input type="text" class="form-control" id="user_name" name="user_name" placeholder="User Name" value="{{request.args.get('user_name') or ''}}">

    {{macros.order_by_combo(['logon_date', 'user_name', 'num_logons'])}}
    &nbsp;
  <button type="submit" class="btn btn-primary">Filter</button>
</form>
</div>

<ul class="pagination justify-content-end pagination-sm"></ul>

<table class="table table-striped table-hover">
<thead>
<tr>
    <th>ID</th>
    <th>User Name</th>
    <th>Created</th>
    <th>Last Logon</th>
    <th>Logons</th>
</tr>
</thead>
<tbody>
{% for user in users %}
<tr>
    <td><a href="{{url_for('users.user', user_id=user.user_id)}}">{{user.user_id}}</a></td>
    <td>{{user.user_name}}
    {%if user.is_online%}
        <div class="float-right" title="User is online">
            <i class="fa fa-user" style="color:green"></i>
        </div>
    {%endif%}
    </td>
    <td>{{user.create_date | dt}}</td>
    <td>{{user.logon_date | dt}}</td>
    <td>{{user.num_logons}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<ul class="pagination justify-content-end pagination-sm"></ul>

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    pagination({{curr_page}}, {{num_pages}})
});
</script>

{% endblock %}