{% extends "layout.html" %}
{% set active_page = 'players' %}


{%block content%}

<h2>Admin Action log</h2>

<br>

<ul class="pagination justify-content-end pagination-sm"></ul>
<table class="table table-striped table-sm">
<thead>
    <tr><th>ID</th><th>User</th><th>Date/Time</th><th>Action</th><th>Ref</th><th>Details</th></tr>
</thead>
<tbody>
{%for r in rows%}
    <tr>
        <td>{{r.0.id}}</td>
        <td><a href="{{url_for('user.user', user_id=r.0.user_id)}}">{{r.1.username}}</a></td>
        <td>{{r.0.create_date | dt}}</td>
        <td>{{r.0.name}}</td>
        <td>{{r.0.reference_type}}: {{r.0.reference_id}}</td>
        <td>{{r.0.details | fmt_dict_inline | safe}}</td>
    </tr>
{%endfor%}
</tbody>
</table>
<ul class="pagination justify-content-end pagination-sm"></ul>
{% endblock %}

{% block scripts %}
<script>
pagination({{curr_page}}, {{num_pages}})
</script>
{% endblock %}