{% extends "layout.html" %}

{%block content%}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{url_for('user.users')}}">Admin Users</a></li>
  <li class="breadcrumb-item"><a href="{{url_for('user.user', user_id=user.user_id)}}">{{user.username}}</a></li>
  <li class="breadcrumb-item active">Edit Roles</li>
</ol>
<h2>Edit Admin User Roles for {{user.username}}</h2>
<div class="col-md-6 col-md-offset-4">
<form action="" method="post">

    {%for role in admin_roles%}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" name="{{role.0}}" id="{{role.0}}" {%if role.0 in roles%}Checked{%endif%}>
      <label class="form-check-label" for="{{role.0}}">
        {{role.1}} &middot; <small>{{role.2}}</small>
      </label>
    </div>
    {%endfor%}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Submit Changes
        </button>
    </div>
</form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}