{% extends "matches/base_match.html" %}

{%block crumb%}Queue{%endblock%}

{%block maincontent%}

<table class="table table-striped table-hover">
<thead>
<tr>
    <th>ID</th>
    <th>Date</th>
    <th>Player ID</th>
    <th>Client ID</th>
    <th>Status</th>
    <th>Placement</th>
    <th>Ref</th>
    <th>Token</th>
</tr>
</thead>
<tbody>
{% for player in players %}
<tr>
    <td>{{player.id}}</td>
    <td><nobr>{{player.create_date | dt}}</nobr></td>
    <td><a href="{{url_for('players.player', player_id=player.player_id)}}">{{player.player_id}}</a></td>
    <td><a href="{{url_for('clients.client', client_id=player.client_id)}}">{{player.client_id}}</a></td>
    <td>{{player.status}}</td>
    <td>{{player.placement}}</td>
    <td>{{player.ref}}</td>
    <td>{{player.token}}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

{% block scripts %}
{% endblock %}