{% extends "layout.html" %}
{% set active_page = 'machines' %}

{%block content%}

<br>
<div class="alert alert-warning">
    <h2><i class="fa fa-trophy-alt"></i>&nbsp; Match: {{match.match_id}}</h2>
</div>

<div class="float-right">
    <a href="{{url_for('matches.match', match_id=match.match_id)}}" class="btn btn-sm btn-secondary">INFO</a>
    &nbsp;&nbsp;&nbsp;<a href="{{url_for('matches.match_players', match_id=match.match_id)}}" class="btn btn-sm btn-secondary">Players</a>
    &nbsp;&nbsp;&nbsp;<a href="{{url_for('matches.match_teams', match_id=match.match_id)}}" class="btn btn-sm btn-secondary">Teams</a>
    &nbsp;&nbsp;&nbsp;<a href="{{url_for('matches.match_events', match_id=match.match_id)}}" class="btn btn-sm btn-secondary">Events</a>
    &nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger">Queue Players</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('matches.index')}}" class="btn btn-sm btn-success"><i class="fa fa-bars"></i></a>
</div>

<br><br>

<table class="table table-striped table-hover">
<thead>
<tr>
    <th>ID</th>
    <th>Date</th>
    <th>Player ID</th>
    <th>Client ID</th>
    <th>Status</th>
    <th>Placement</th>
    <th>Ref</th>
    <th>Token</th>
</tr>
</thead>
<tbody>
{% for player in players %}
<tr>
    <td>{{player.id}}</td>
    <td><nobr>{{player.create_date | dt}}</nobr></td>
    <td><a href="{{url_for('players.player', player_id=player.player_id)}}">{{player.player_id}}</a></td>
    <td><a href="{{url_for('clients.client', client_id=player.client_id)}}">{{player.client_id}}</a></td>
    <td>{{player.status}}</td>
    <td>{{player.placement}}</td>
    <td>{{player.ref}}</td>
    <td>{{player.token}}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

{% block scripts %}
{% endblock %}