body {
  padding-top: 20px;
}

.breadcrumb {
    padding: 0.5rem 1rem !important;
    background-color: #f3f3f3 !important;
}

.form-check-label {
  padding-left: 0.25rem !important;
}

.btn-xs {
  padding: 0.15rem 0.3rem !important;
  font-size: 0.775rem !important;
  line-height: 1.4 !important;
  border-radius: 0.2rem !important;
}
.footer {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 20px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.navbar {
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

/* Responsive: Portrait   tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

.alert-fixed ul {
  list-style: none;
  padding: 0px; 
  margin:0px;
}

body {
  padding:0px;
}

.page-link {
  position:relative;
  display:block;
  background-color:rgba(255, 255, 255, 0.1) !important;
  padding: 2px 8px !important;
}
.page-link:hover {
  border:1px solid #aaa !important;
}
.page-current {
  color: #fff !important;
  background-color:rgb(72, 112, 188) !important;
  border:1px solid #aaa !important;
}
.page-disabled {
  color: #ddd !important;
  cursor:default !important;
}
.page-disabled:hover {
  border:1px solid #777 !important;
}

.key {
  text-align:right;
  padding-right:5px;
  vertical-align:top;
}

.inldctkey {
  font-weight:bold;
  font-size:12px;
  font-family:Courier New;
}
.inldctval {
  font-weight:normal;
  font-size:12px;
  font-family:Courier New;
}