{% extends "layout.html" %}
{% set active_page = 'metrics' %}

{%block content%}
<h2>Drift Config</h2>

<ul>
    <li>
        <a href="{{url_for('driftconfig.tablestore')}}">View Tablestore</a>
    </li>
    <li>
        <a href="{{url_for('driftconfig.organizations')}}">View Organizations</a>
    </li>
    <li>
        <a href="{{url_for('driftconfig.products')}}">View Products</a>
    </li>
    <li>
        <a href="{{url_for('driftconfig.tenants')}}">View Tenants</a>
    </li>
</ul>
{% endblock %}

{% block scripts %}
{% endblock %}