{% extends "layout.html" %}
{% set active_page = 'admin' %}


{%block content%}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{url_for('user.users')}}">Admin Users</a></li>
  <li class="breadcrumb-item"><a href="{{url_for('user.user', user_id=user.user_id)}}">{{user.username}}</a></li>
  <li class="breadcrumb-item active">Reset Password</li>
</ol>
<h2>Reset password for {{user.username}}</h2>

{%if password%}
<h4>Please send this password to {{user.username}}</h4>
<div class="alert alert-info">
    <h3>{{password}}</h3>
</div>

{%else%}
<form method="POST">
    <input type=submit name=change value="Click to reset password" class="btn btn-danger">
</form>
{%endif%}
{% endblock %}

{% block scripts %}
{% endblock %}